.vs/
bin/
obj/
/frontend/examinee/Examinee/ClientApp/.vscode/settings.json
/frontend/examinee/Examinee/ClientApp/.vscode/settings.json
/frontend/examinee/Examinee/ClientApp/.vscode/settings.json
/frontend/examinee/Examinee/ClientApp/.vscode/settings.json
